@using ExamApp.Core.Models

@model Exam
@{
    int i = 0;
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br />
            <h5 class="text-center">@Model.Title</h5>
            <br />
            <p>@Html.Raw(Model.Description)</p>
        </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        
        @foreach (var q in Model.Questions)
        {
            int option = 0;
            <div class="col-lg-6" id="q@(option+1)">
              <p>@(i+1) ) @q.Title</p> 
              <ul class="simple-radio s@(i+1)" id="sr@(i+1)">
  <li id="Question@(i+1)option@(option+1)">
    <input type="radio" name="Question@(i+1)UserAnswer" value="1">
    <div class="check"> </div>@q.QuestionOptions[option].Title
  </li>
  <li>
    <input type="radio" name="Question@(i+1)UserAnswer" value="2">
    <div class="check"> </div>@q.QuestionOptions[option+1].Title
  </li>
  <li>
    <input type="radio" name="Question@(i+1)UserAnswer" value="3">
    <div class="check"> </div>@q.QuestionOptions[option+2].Title
  </li>
  <li>
    <input type="radio" name="Question@(i+1)UserAnswer" value="4">
    <div class="check"> </div>@q.QuestionOptions[option+3].Title
  </li>
</ul>
           </div>
           i++;
           option++;
       }
    </div>


    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-success" id="btnsubmit">Success</button>
        </div>

    </div>
</div>

@section Scripts{
    <script>
 
       

    $("#btnsubmit").click(function () {
        
        var url = "@Url.Action("CheckExam","Exam")";
   
          var q1_useranswer = $("input[name='Question1UserAnswer']:checked").val();
          var q2_useranswer = $("input[name='Question2UserAnswer']:checked").val();
          var q3_useranswer = $("input[name='Question3UserAnswer']:checked").val();
          var q4_useranswer = $("input[name='Question4UserAnswer']:checked").val();
               
         
          var model = {
              Id  : @(Model.Id),
              Question1UserAnswer :q1_useranswer, 
              Question2UserAnswer: q2_useranswer, 
              Question3UserAnswer :q3_useranswer,
              Question4UserAnswer :q4_useranswer
            };
  
 $.post(url, model, function(ec){
 
     
     if(ec.question1Answer == ec.question1UserAnswer){

        $("input[name='Question1UserAnswer']:checked").parent('li').addClass('correct');
     }
     else{
 $("input[name='Question1UserAnswer']").filter(function(){return this.value== ec.question1Answer}).parent('li').addClass('correct');
          $("input[name='Question1UserAnswer']:checked").parent('li').addClass('incorrect');
     }


      if(ec.question2Answer == ec.question2UserAnswer){

        $("input[name='Question2UserAnswer']:checked").parent('li').addClass('correct');
     }
     else{
 $("input[name='Question2UserAnswer']").filter(function(){return this.value== ec.question2Answer}).parent('li').addClass('correct');
          $("input[name='Question2UserAnswer']:checked").parent('li').addClass('incorrect');
     }

        if(ec.question3Answer == ec.question3UserAnswer){

        $("input[name='Question3UserAnswer']:checked").parent('li').addClass('correct');
     }
     else{
 $("input[name='Question3UserAnswer']").filter(function(){return this.value== ec.question3Answer}).parent('li').addClass('correct');
          $("input[name='Question3UserAnswer']:checked").parent('li').addClass('incorrect');
     }

     
        if(ec.question4Answer == ec.question4UserAnswer){

        $("input[name='Question4UserAnswer']:checked").parent('li').addClass('correct');
     }
     else{
 $("input[name='Question4UserAnswer']").filter(function(){return this.value== ec.question3Answer}).parent('li').addClass('correct');
          $("input[name='Question4UserAnswer']:checked").parent('li').addClass('incorrect');
     }


   //$("#SomeDivToShowTheResult").html(res);
});
       
    });

    </script>
}

